/*
 * Globals & CSS reset
 * ---------------------------------------------------------------------------
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link {
  color: #084080;
  text-decoration: none;
}

a:link:hover {
  color: #052850;
  text-decoration: underline;
}

a:link:visited {
  color: #021020;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: none;
  border-bottom: dotted 1px #aaa;
}

/*
 * Main styles
 * ---------------------------------------------------------------------------
 */

.block {
  display: inline-block;
  vertical-align: top;
}

/*
 * Shared between palette and canvas.
 */
.swatch {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 100% auto;
  border-style: outset;
}

  .swatch.black { background-image: url('lib/img/black.png'); }
  .swatch.white { background-image: url('lib/img/white.png'); }
  .swatch.red { background-image: url('lib/img/red.png'); }
  .swatch.orange { background-image: url('lib/img/orange.png'); }
  .swatch.yellow { background-image: url('lib/img/yellow.png'); }
  .swatch.green { background-image: url('lib/img/green.png'); }
  .swatch.blue { background-image: url('lib/img/blue.png'); }
  .swatch.indigo { background-image: url('lib/img/indigo.png'); }
  .swatch.violet { background-image: url('lib/img/violet.png'); }

.palette {
  width: 100%;
  margin-bottom: 1em;
  display: inline-block;
  padding-top: 115px;
}

.palette .swatch {
  width: 25px;
  height: 30px;
  display: block;
  margin: 5px;
  border-bottom: solid 5px white;
  background-size: 100% auto;
  cursor: pointer;
}

.palette .swatch:hover    { border-color: #aca; opacity: 0.8; }
.palette .swatch.selected { border-color: #0074D9; }

.canvas {
  width: 100%;
  position: relative;
  display: inline-block;
}

.canvas .row {
  width: 100%;
  margin-bottom: -2px;
  cursor: crosshair;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
